.contact{
    height: 90vh;
    background: #69C6DB;
    color: white;
    display: grid;
    grid-template-columns: 10% 7% 66% 17%;
    grid-template-rows: 5% 5% repeat(5, 14%);
    grid-row-gap: 2vh;

    a{ 
        justify-content: center;
        align-items: center;
        text-align: center;
        
        .button{
            padding: 4vh 0vh;
            transition: background-color 0.5;

            h4{
                color: white;
            }
        }

    }

    .button:hover{
        background-color: #65EBBA;
        border-radius: 45px;
    }

    .cv{
        grid-row: 4/5;
        grid-column: 3/4;
    }

    .linkedin{
        grid-row: 5/6;
        grid-column: 3/4;

        
    }

    .github{
        grid-row: 6/7;
        grid-column: 3/4;
    }

    .instagram{
        grid-row: 7/8;
        grid-column: 3/4;
    }

    
    
    

    h2{
        grid-row: 2/3;
        grid-column: 2/4;
    }
}