.projectdetails{
    margin: 0px 25vw;

    .entete{
        display: grid;
        grid-template-columns: 35vw 15vw;
        h1{
            grid-column: 1/2;
            font-size: 5rem;
            margin-top: 2vh;
        }

        h5{
            grid-column: 1/2;
            font-size: 2rem;
        }

        a{
            grid-column: 2/3;
            grid-row: 1/3;
            margin: 3vh 0vh;
            background: #65EBBA;
            border-radius: 46px;
            border: none;
            color: white;
            padding: 1vh 0px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 15vw;
            height: 5vh;
            font-size: 2.5rem;
            align-self: center;
        }
    }

    .details{
        img{
            margin: 2vh 0vh;
        }

        p{
            font-size: 3rem;
            text-align: justify;
            img{
                width: 50vw;
            }
        }

        h3{
            margin: 1.5vh 0vh;
        }

        ul li{
            font-size: 3rem;
            text-transform: capitalize;
            margin-left: 4rem;
            padding: 1vh 0vw;
        }
    }

    .fin{
        ul{
            list-style: none;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            li{
                background: #65EBBA;
                border-radius: 46px;
                border: none;
                color: white;
                padding: 1vh 0px;
                text-align: center;
                text-decoration: none;
                margin: 3rem 0rem;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15vw;

                a{
                    color: white;
                }
            }
        }
    }
}