html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #68B5F2;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
}

h2 {
  font-size: 8rem;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

a {
  color: #5D6E80;
  text-decoration: none;
}

.home {
  background: #ffffff;
}

.nav-container {
  background: #648AE8;
}

nav {
  width: 80%;
  margin: auto;
  min-height: 5vh;
  padding: 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

nav ul li a {
  color: #ffffff;
}

nav h1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 4rem;
  position: relative;
  color: white;
}

.intro {
  display: -ms-grid;
  display: grid;
  height: 110vh;
  -ms-grid-columns: 10% (minmax(10rem, 1fr))[3] 10%;
      grid-template-columns: 10% repeat(3, minmax(10rem, 1fr)) 10%;
  -ms-grid-rows: 1fr 2fr 2fr;
      grid-template-rows: 1fr 2fr 2fr;
}

.intro h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.intro img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
}

.intro .info {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  text-align: center;
}

.intro .info ul {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .info ul a li {
  background: #65EBBA;
  border-radius: 46px;
  border: none;
  color: white;
  padding: 1vh 0px;
  text-align: center;
  text-decoration: none;
  margin: 3rem 0rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15vw;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}

.portfolio-container {
  background: #ffffff;
}

.portfolio {
  min-height: 110vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .cards .card {
  background: #68B5F2;
  margin: 0rem 5rem;
  margin-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
  max-height: 70vh;
  border-style: solid;
  border-width: 0.1%;
  border-color: #68B5F2;
  color: white;
  width: 25vw;
}

.portfolio .cards .card h4 {
  margin: 2rem 1rem;
}

.portfolio .cards .card p {
  padding: 0vh 1vw;
}

.portfolio .cards .card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 50%;
}

.portfolio .cards .card .info {
  display: none;
}

.portfolio .cards .card:hover {
  background-color: #4EB8D9;
  border-color: #4EB8D9;
  color: #32a6a8;
  opacity: 0.5;
  text-align: center;
}

.portfolio .cards .card:hover h4 {
  display: none;
}

.portfolio .cards .card:hover p {
  display: none;
}

.portfolio .cards .card:hover img {
  display: none;
}

.portfolio .cards .card:hover .info {
  text-align: center;
  margin: auto;
  list-style: none;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.portfolio .cards .card:hover .info a li {
  background: #65EBBA;
  border-radius: 46px;
  border: none;
  color: white;
  padding: 1vh 0px;
  text-align: center;
  text-decoration: none;
  margin: 5rem 0rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15vw;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  z-index: 100;
}

.portfolio .cards .card:hover > .info {
  display: block;
  z-index: 100;
  text-align: center;
}

.contact {
  height: 90vh;
  background: #69C6DB;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 7% 66% 17%;
      grid-template-columns: 10% 7% 66% 17%;
  -ms-grid-rows: 5% 5% (14%)[5];
      grid-template-rows: 5% 5% repeat(5, 14%);
  grid-row-gap: 2vh;
}

.contact a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact a .button {
  padding: 4vh 0vh;
  -webkit-transition: background-color 0.5;
  transition: background-color 0.5;
}

.contact a .button h4 {
  color: white;
}

.contact .button:hover {
  background-color: #65EBBA;
  border-radius: 45px;
}

.contact .cv {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.contact .linkedin {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.contact .github {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.contact .instagram {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.contact h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.aboutme {
  background: #ffffff;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5vw 43vw 16vw 31vw 5vw;
      grid-template-columns: 5vw 43vw 16vw 31vw 5vw;
  -ms-grid-rows: 10vh 28vh 34vh 18vh;
      grid-template-rows: 10vh 28vh 34vh 18vh;
  color: white;
}

.aboutme .about {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  background-color: #68B5F2;
}

.aboutme .about h2 {
  padding: 5vh 5vw;
}

.aboutme .about h4 {
  text-align: justify;
  margin: 0vw 5vw;
  margin-right: 20vw;
  font-weight: lighter;
  font-size: 1.5vw;
}

.aboutme .skills {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  background-color: #69C6DB;
}

.aboutme .skills h2 {
  padding: 3vh 5vw;
  font-size: 8vh;
}

.aboutme .skills ul {
  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0vw 5vw;
}

.aboutme .skills ul li {
  font-size: 1.3vw;
  padding: 2vh 0rem;
  text-align: justify;
}

.projectdetails {
  margin: 0px 25vw;
}

.projectdetails .entete {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35vw 15vw;
      grid-template-columns: 35vw 15vw;
}

.projectdetails .entete h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 5rem;
  margin-top: 2vh;
}

.projectdetails .entete h5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 2rem;
}

.projectdetails .entete a {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin: 3vh 0vh;
  background: #65EBBA;
  border-radius: 46px;
  border: none;
  color: white;
  padding: 1vh 0px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15vw;
  height: 5vh;
  font-size: 2.5rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.projectdetails .details img {
  margin: 2vh 0vh;
}

.projectdetails .details p {
  font-size: 3rem;
  text-align: justify;
}

.projectdetails .details p img {
  width: 50vw;
}

.projectdetails .details h3 {
  margin: 1.5vh 0vh;
}

.projectdetails .details ul li {
  font-size: 3rem;
  text-transform: capitalize;
  margin-left: 4rem;
  padding: 1vh 0vw;
}

.projectdetails .fin ul {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projectdetails .fin ul li {
  background: #65EBBA;
  border-radius: 46px;
  border: none;
  color: white;
  padding: 1vh 0px;
  text-align: center;
  text-decoration: none;
  margin: 3rem 0rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15vw;
}

.projectdetails .fin ul li a {
  color: white;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
  nav #logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav ul li {
    margin-left: 5rem;
  }
  .intro {
    -ms-grid-columns: 10% 80% 10%;
        grid-template-columns: 10% 80% 10%;
    -ms-grid-rows: 10% 5% 45% 5% 45%;
        grid-template-rows: 10% 5% 45% 5% 45%;
  }
  .intro h2 {
    text-align: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .intro img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    width: 50%;
  }
  .intro .info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    text-align: center;
    margin: 0px 10vw;
  }
  .intro .info ul {
    text-align: center;
  }
  .intro .info ul a li {
    width: 40vw;
    text-align: center;
    margin: 3vh 0vw;
  }
  .aboutme {
    -ms-grid-columns: 10% 80% 10%;
        grid-template-columns: 10% 80% 10%;
    -ms-grid-rows: 5% 40% 5% 45%;
        grid-template-rows: 5% 40% 5% 45%;
    text-align: center;
  }
  .aboutme .about {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .aboutme .about h2 {
    padding: 2vh;
  }
  .aboutme .about h4 {
    text-align: center;
    margin: 0px 5vw;
    font-size: calc(1.5vw + 1rem);
  }
  .aboutme .skills {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .aboutme .skills h2 {
    padding: 2vh;
  }
  .aboutme .skills ul li {
    padding: 1vh;
    font-size: calc(1.5vw + 1rem);
  }
  .portfolio {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio h2 {
    margin-top: 5rem;
  }
  .portfolio .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  .portfolio .cards .card {
    margin: 2vh auto;
    width: 50vw;
    height: 60vh;
  }
  .portfolio .cards .card img {
    max-height: 50%;
  }
  .contact {
    height: 70vh;
    grid-row-gap: 0vh;
    -ms-grid-rows: 5% 5% (15%)[5];
        grid-template-rows: 5% 5% repeat(5, 15%);
  }
  .contact a .button {
    padding: 2vh 0vh;
  }
}
/*# sourceMappingURL=style.css.map */